* 
{
    font-family: 'Helvetica',Arial,sans-serif;
}

body
{
    background-color: #EEE;
}

h1
{
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
}

h2
{
    text-align: left;
    font-weight: bold;
    font-size: 2.0em;
}

h3
{
    text-align: left;
    font-weight: normal;
    font-size: 1.5em;
}

p
{
    text-align: left;
    font-size: 1.5em;
}

li
{
    font-size: 1.5em;
}

a
{
    text-decoration: none;
}

a:visited
{
    color:blue;
}

section
{
    width: 65%; 
    margin: auto;
    margin-bottom: 2.5em;
    margin-top: 2.5em;

}

hr
{
    width: 50%;
    color: grey;
}

img, video
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 5px solid #555;
}

figure
{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

figcaption {
    text-align:center;
}
